@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 60px 0;
} */

.logos::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to left, rgb(32,22,31,0) 0%, rgba(32,22,31,1) 100%);
}

.logos::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to right, rgb(32,22,31,0) 0%, rgba(32,22,31,1) 100%);
}

.logos:hover .logos_slide {
    animation-play-state: paused;
}

.logos_slide {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.img {
    margin: 0 40px;
}



  .border-dotted {
    border-bottom-width: 4px; /* Adjust thickness as needed */
    padding-right: 6px;
    padding-left: 6px;
    border-color: black;
    margin-bottom: 10px;
  }